@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2.25rem; /* Örnek stil */
  font-weight: bold;
}
h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

@layer base {
  :root {
    --background: 0 0% 1%;
    --foreground: 0 0% 1%;

    --primary: 0 0% 99.61%;
    --primary-foreground: 0 0% 11.76%;

    --accent: 59.5 100% 76.67%;
    --accent-foreground: 0 0% 11.76%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 0%;
      --foreground: 0 0% 99.61%;

      --primary: 0 0% 11.76%;
      --primary-foreground: 0 0% 99.61%;

      --accent: 59.5 100% 76.67%;
      --accent-foreground: 0 0% 11.76%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  .full-height {
    height: calc(100vh - 140px);
  }

  .scrollable {
    min-height: 100vh;
    padding: 20px;
  }

  .hebele {
    background-color: red;
  }
}
